@charset "UTF-8";

@media screen and ( min-width: 768px) and (max-width: 900px) {
     header {
        background-color: rgb(44, 43, 43);
        border-radius: 0px 0px 20px 20px;
        margin-bottom: 20px;
     }
     nav {
        display: flex;
        justify-content: space-around;
     }
     nav > ul {
        display: flex;
        width: 100%;
        justify-content: start;
     }
     li {
       width: 100px;
       margin: 10px;
       border-radius: 10px;
      }
      li:hover {
         background-color: rgb(6, 44, 44);
      }
      li > a {
         text-decoration: none;
         color: rgb(58, 46, 46);
         font-size: 20px;
      }
      main {
         text-indent: 15px;
         color: rgb(0, 0, 0);
         margin: auto;
         width: 450px;
         background-color: rgba(255, 255, 255, 0.11);
      }
      main > p {
         padding: 10px;
      }
    
}