@charset "UTF-8";
/*configuraçoes gerais*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100vh;
    width: 100vw;
    background-color: blue;
}
h1{
    color: white;
    text-align: center;
}