@charset "UTF-8";
/*configuraçoes gerais*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100vh;
    width: 100vw;
    background-color:#233EFF ;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: rgb(0, 176, 199);
    text-align: center;
}