@charset "UTF-8";
/*configuraçoes gerais*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100vh;
    width: 100vw;
    background-image: url('../imagens/cev-portrait.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}
h1{
    color: white;
    text-align: center;
}